
/* style for main website */
.title-section{
    color: var(--color-01);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 65px;
    line-height: 1em;
}
.title-child{
    display: block;
    color: var(--color-03);
    background: var(--color-01);
    padding: 16px 0;
    margin-bottom: 22px;
    font-size: 20px;
}
/********************************
----------- WLC ILA -------------
*********************************/
.wlc-ILA{
    background: url(../images/banner/banner-01.png) no-repeat left top;
    height: 785px;
    padding: 220px 0 150px; 
}
.wlc-ILA .title-section{
    margin-bottom: 25px;
}
.wlc-ILA-content{
    width: 410px;
    text-align: justify;
}
.wlc-ILA-content p{
    color: var(--color-04);
    margin-bottom: 15px;
    font-size: 14px;
}
/********************************
---------- About ILA ------------
*********************************/
.about{
    padding: 80px 0 120px;
    text-align: center;
}
.about-child{
    width: 375px;
    margin-bottom: 58px;
    position: relative;
}
.about-content .about-child:last-child{
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    margin-bottom: 0;
}
/********************************
--------- Work at ILA -----------
*********************************/
.work-ILA{
    background: url(../images/banner/banner-02.png) no-repeat center center;
    height: 650px;
    padding: 115px 0 0;
}
.work-ILA .title-section{
    color: var(--color-03);
    padding-left: 600px;
}
.work-ILA-content{
    padding-left: 600px;
}
.work-ILA-content ol{
    width: 610px;
    padding-left: 55px;
}
.work-ILA-content li{
    width: 130px;
    height: 80px;
    margin-right: 40px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-03);
    position: relative;
}
.work-ILA-content li:before{
    counter-increment: section;
    content: "0" counter(section);
    font-size: 30px;
    font-weight: 300;
    color: var(--color-05);
    display: block;
    width: 50px;
    position: absolute;
    left: -55px;
    top: -2px;
}
.work-ILA-content li:nth-child(3n){
    margin-right: 0;
}
/********************************
--------- Say about us ----------
*********************************/
.about-us{
    text-align: center;
    padding: 75px 0 65px 0;
}
.about-us .title-section{
    width: 610px;
    margin: auto;
}
.about-us .btn-read-more,
.faq .btn-read-more{
    margin: 40px auto 0;
    margin: 40px auto 0;
}
.video-block{
    width: 782px;
    height: 445px;
    margin: 60px auto 75px;
}

.about-us-child{
    width: 380px;
    height: 418px;
    border : 1px dashed var(--bg-02);
    text-align: center;
    position: relative;
    padding: 0 60px 0;
}
.says-avatar{
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background: var(--color-01);
    margin: -72px auto 0;
}
.icon-quote{
    width: 13px;
    height: 16px;
    display: block;
    margin: 40px auto 50px;
    background: url(../images/icon-quote.png) no-repeat center center;
}
.quote{
    font-size: 14px;
    line-height: 1.4em;
    color: var(--color-04);
    text-align: justify;
}
.signature{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-01);
    margin-top: 60px;
}
.postion{
    font-size: 20px;
    color: var(--color-04);
}
/********************************
------------ Slider -------------
*********************************/
.slider-about,
.slider-faq{
    width: 100%;
    position: relative;
}
.slider-about .swiper-container{
    padding-top: 72px;
} 
.swiper-slide{
    z-index: 1;
}
.slider-about .swiper-button-next, 
.slider-about .swiper-button-prev{
    top: calc(50% + 36px);
}
.swiper-button-prev{
    width: 52px;
    left: -26px;
}
.swiper-button-next{
    width: 52px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180);
    right: -26px;
}
.swiper-button-next:after, 
.swiper-button-prev:after{
    content: '';
    width: 52px;
    height: 53px;
    background: url(../images/icon-arrow-blue.png) no-repeat center center;
}
/********************************
---------- Tabs by css ----------
*********************************/

.tabs-k > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
.tabs-k .tab-panel {
    display: none;
}
.tabs-k > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabs-k > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabs-k > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabs-k > input:nth-last-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) > .tabs-k > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabs-k > input:nth-last-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) > .tabs-k > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2){
    display: block;
}
.tabs-k > label {
    cursor: pointer;
}
.tabs-k > label:not(:first-child){
    margin-right: -4px;
}
/*
.tabs-k > label:hover,
.tabs-k > input:focus + label {
    
}
.tabs-k > input:checked + label {
    
}

.tabs-k > input:nth-child(3):checked + label {

}
*/
.tab-panel:not(.training-content) {
    padding: 65px 0 30px;
}
.tabset,
.tabset2{
    max-width: 65em;
}
/********************************
-------- Career section ---------
*********************************/
.career-frm{
    position: relative;
    background: var(--bg-07);
}

.career-banner{
    padding: 135px 0 95px;
    background: url(../images/banner/banner-03.png) no-repeat top center;
    position: relative;
    position: relative;
}
.career-banner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    z-index: 3;
    bottom: 0;
    background: var(--color-02);
}
.career-frm .title-section{
    width: 515px;
    text-align: left;
    line-height: 1.15em;
}
.career-frm-content{
    margin-top: -73px;
}
.career-frm-tabs > label{
    min-width: 216px;
    text-align: center;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 30px 30px 20px;
    background: var(--bg-02);
    border-radius: 30px 30px 0 0 ;
    color: var(--color-03);
    margin: 0;
}
.career-frm-tabs > input:checked + label {
    margin-bottom: -1px;
    background: var(--color-02);
    z-index: 2;
    -webkit-box-shadow: 10px 4px 10px 0 rgba(0,0,0,0.5), -10px 4px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 4px 10px 0 rgba(0,0,0,0.5), -10px 4px 10px 0 rgba(0,0,0,0.5);
}
.career-frm-tabs > input:first-child:checked + label{
    -webkit-box-shadow: 10px 4px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 4px 10px 0 rgba(0,0,0,0.5);
}
.career-frm-tabs > input:nth-last-child(3):checked + label {
    -webkit-box-shadow: -10px 4px 10px 0 rgba(0,0,0,0.5);
    box-shadow: -10px 4px 10px 0 rgba(0,0,0,0.5);
}
#vacancy{
    padding: 65px 55px 75px;
}

#application-frm{
    position: relative;
    z-index: 1;
    padding-bottom: 75px;
}
#application-frm:before{
    content: '';
    width: 100%;
    height: 100px;
    background: var(--color-01);
    position: absolute;
    left: 0;
    z-index: -1;
}
.tabs-k.child{
    padding-top: 28px;
}
.tabs-k.child > label{
    border: 1px solid var(--color-03);
    border-radius: 22px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: var(--color-03);
    margin: auto 16px;
    padding: 0 50px;
}
.tabs-k.child > label span{
    position: absolute;
    left: 45px;
    width: 200px;
    color: var(--color-03);
}
.tabs-k.child > input:checked + label {
    background: var(--color-03);
    color: var(--bg-03) !important;
}
.tabs-k.child > label:nth-child(2){
    margin-left: calc(345px - 16px);
}
.tabs-k.child .tab-panels{
    background: var(--color-03);
    margin-top: calc(30px + 30px);
    padding: 30px 45px 7px;
    font-size: 13px;
    min-height: 218px;
}
.tabs-k.child .tab-panels .tab-panel{
    padding: 0;
}
.apply-frm-warp{
    padding: 0 45px 50px;
    background: var(--color-03);
    font-size: 13px;
}
.apply-frm{
    padding: 30px 0 40px 50px;
    border: 1px solid var(--color-05);
    margin-bottom: 40px;
}
.apply-frm-content{
    margin-bottom: 20px;
}
.title-inFrm{
    text-transform: uppercase;
    margin-bottom: 25px;
    color: var(--color-01);
    font-size: 16px;
    font-weight: bold;
}
.apply-frm p,
.title-inFrm-02{
    margin-bottom: 15px;
}
.title-inFrm-02{
    font-weight: 500;
}
.apply-frm-child{
    width: calc(33.33% - 50px);
    margin: 0 50px 27px 0;
}
.apply-frm-child.g-2{
    width: calc(33.33% * 2 - 50px);
}
.apply-frm-child label{
    margin-bottom: 15px;
}
.apply-input{
    width: 100%;
    height: 33px;
    line-height: 26px;
    border: 1px solid var(--color-06);
    border-radius: 3px;
    background: var(--bg-06);
    padding: 0 10px;
}
.title-outsideFrm{
    color: var(--color-01);
    margin-bottom: 17px;
    font-size: 16px;
}
.title-outsideFrm ~ p:not(.mgr-b-0){
    margin-bottom: 20px;
}
.title-outsideFrm ~ ul{
    margin-bottom: 25px;
}
.title-outsideFrm ~ ul li{
    margin-bottom: 8px;
}
.you-need li{
    width: 470px;
}
.req-docs{
    width: calc(33.33% * 2 - 50px);
    padding: 35px 25px 25px 30px;
    background: var(--bg-06);
}
.req-docs li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    font-weight: 500;
}
/********************************
--------- Vacancy list ----------
*********************************/
.vacancy-table{
    color: var(--color-04);
    text-align: center;
}
.title-table{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-03);
}
.title-table .icon-arr-w{
    margin-left: 10px;
}
.vacancy-table-child{
    width: 240px;
    -webkit-box-shadow: 8px 4px 15px 0 rgba(0,0,0,0.1);
    box-shadow: 8px 4px 15px 0 rgba(0,0,0,0.1);
}
.vacancy-table-child-head{
    padding: 40px 0 30px;
    height: 96px;
}
.vacancy-table-child:nth-child(1) .vacancy-table-child-head{
    background: var(--bg-03);
}
.vacancy-table-child:nth-child(2) .vacancy-table-child-head{
    background: var(--bg-04);
}
.vacancy-table-child:nth-child(3) .vacancy-table-child-head{
    background: var(--bg-05);
}
.vacancy-table-child:nth-child(4) .vacancy-table-child-head{
    background: var(--color-01);
}

.vacancy-table-child-content{
    padding: 5px 20px 50px;
    background: var(--color-03);
}
.vacancy-table-child-content li{
    height: 65px;
    line-height: 65px;
}
.vacancy-table-child-content li:not(:last-child):after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), color-stop(15%, rgba(247,247,247,1)), color-stop(50%, rgba(0,0,0,0.2049194677871149)), color-stop(85%, rgba(247,247,247,1)), to(rgba(255,255,255,1)));
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 15%, rgba(0,0,0,0.2049194677871149) 50%, rgba(247,247,247,1) 85%, rgba(255,255,255,1) 100%);
}
/********************************
-------------- FAQ --------------
*********************************/
.faq{
    text-align: center;
    padding: 45px 0 75px ;
}
.faq .img-warp{
    width: 575px;
    margin: auto;
}
.faq .signature{
    margin-bottom: 25px;
}
.slider-faq{
    margin-top: 25px;
}
/********************************
------------ FAQ Page -----------
*********************************/
.faq.page{
    background: var(--bg-01);
    padding-bottom: 65px;
}
.faq.page .img-warp{
    width: 675px;
    margin-bottom: 30px;
}
.faq.page .faq-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq.page .about-us-child{
    text-align: left;
    height: inherit;
    padding-bottom: 45px;
    margin: 0 0 35px 0;
    background: var(--color-03);
}
.faq.page .about-us-child:last-child{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 30px;
}
.faq.page .quote{
    margin-bottom: 10px;
}
/********************************
------------ Training -----------
*********************************/
.training-banner{
    height: 582px;
    background: url(../images/banner/banner-training.png) no-repeat center center;
    background-size: cover; 
}
.training-banner h1{
    font-size: 50px;
    font-weight: 500;
    display: inline-block;
    width: 360px;
    position: relative;
    color: var(--color-01);
    line-height: 1.4em;
    padding-top: 33px;
    margin-top: calc(582px/2 - 86px);
}
.training-banner h1:before{
    content: '';
    width: 45px;
    height: 4px;
    background: #DA0A34;
    position: absolute;
    top: 0;
}

.training-content .img-warp{
    width: 730px;
}
.training-content .content{
    text-align: justify;
    width: calc(100% - 720px - 95px);
    margin-top: 220px;
}
.training-content .content .title{
    font-size: 27px;
    font-weight: bold;
    color: var(--color-01);
    margin-bottom: 12px;
    text-align: left;
    position: relative;
    padding-left: 40px;
}
.training-content .content .title:before{
    content: '';
    width: 21px;
    height: 21px;
    background: #DA0A34;
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
}
.training-content .content p,
.training-content .content ul{
    font-size: 13px;
    color: var(--color-04);
}
.training-content .content p{
    margin-bottom: 8px;
}
.training-content .content p b{
    margin-top: 10px;
    display: inline-block;
}

.training-content .content li{
    margin: 3px auto 3px 4px;
}

.training-content .child:nth-child(even){
    margin-top: -150px;
}
.training-content .child:nth-child(even) .content{
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 260px;
}
.training-content .child:nth-child(odd):not(:first-child){
    margin-top: -100px;
}
.training-content .child:nth-child(odd) .content{
    margin-top: 190px;
}
/********************************
--------- Ilfe with ILA ---------
*********************************/
.life-ILA .training-banner{
    background: url(../images/lifeILA-banner.png) no-repeat top left;
}
.life-ILA .training-banner h1{
    margin-top: 120px;
}
.activity-content{
    padding-bottom: 70px;
}
.activity-content:after{
    content: '';
    display: block;
    clear: both;
}
.activity-content .child:not(:last-child){
    margin-bottom: 70px;
}
.activity-content .child .src-video{
    width: 660px;
    height: 433px;
    background: gray;
    -o-object-fit: cover;
    object-fit: cover;
}
.activity-content .content {
    width: calc(100% - 693px);
    margin: 0;
}
.activity-content .img-warp{
    width: 238px;
}
.activity-content .list-disc,
.activity-content .child .title{
    width: 100%;
}
.activity-content .child .title{
    margin: 40px 0 15px;
}
.life-ILA .slider-about{
    margin-top: 170px;
}
.life-ILA .slider-about .about-us-child{
    margin-bottom: 125px;
}
/********************************
------------- About -------------
*********************************/
.about-page{
    
}
.about-page .training-banner{
    background: url(../images/banner/about-banner.png) no-repeat center center !important;
}
.story{
    text-align: center;
}
.story .title-section{
    margin: 60px auto 25px;
}
.story-content{
    margin: 55px auto 80px;
}
.story-content .child{
/*    width: calc(25% - 25px);*/
    height: 250px;
    padding: 50px 30px;
    color: var(--color-03);
    margin-right: 25px;
}
.story-content .child h3{
    font-size: 76px;
    font-weight: 500;
}
.story-content .child h4{
    font-size: 16px;
}
.story-content .child:nth-child(1){
    background: var(--bg-03);
}
.story-content .child:nth-child(2){
    background: var(--bg-04);
}
.story-content .child:nth-child(3){
    background: var(--bg-05);
}
.story-content .child:nth-child(4){
    background: var(--color-01);
    margin-right: 0;
}

.vision .title-section{
    height: 140px;
    line-height: 140px;
    background: var(--color-01);
    color: var(--color-03);
    text-align: center;
    margin-bottom: 0;
}
.vision .work-ILA-content{
    padding-left: 0;
}
.vision .work-ILA-content ol{
    width: 100%;
    text-align: left;
}
.vision .work-ILA-content ol li{
    width: 100%;
    color: var(--color-04);
    font-size: 14px;
    height: inherit;
    margin-bottom: 20px;
}

.product{
    background: var(--bg-01);
    padding-bottom: 130px;
}
.product .banner{
    height: 537px;
    background: url(../images/banner/banner-products.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.product .banner .title-section{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.product-title{
    width: 100%;
    margin: 65px 0 60px;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: var(--color-04);
    position: relative;
    background: var(--bg-01);
    z-index: 4;
}
.product-title:before{
    content: '';
    width: 100%;
    height: 1px;
    background: #1D1D1B;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}
.product-title:after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 310px;
    height: 100%;
    background: var(--bg-01);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.product .content .child .img-warp{
    min-height: 76px;
}
.product .content .child .img-warp img{
    width: inherit;
}
.product .content .child h4{
    margin: 35px auto 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-01);
    display: block;
    padding: 0 25px;
}
.product .content .child p,
.product .content .child ul{
    color: var(--color-04);
    font-size: 14px;
    display: block;
    padding: 0 25px 25px;
    margin-top: 25px;
}
.product .content .child ul{
    list-style: disc;
    margin-left: 25px;
    padding-left: 10px;
}
.product .content .child ul li{
    margin-bottom: 10px;
}
.product .content .warp-text{
    background: var(--color-03);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    min-height: 640px;
}
.young .child{
    width: calc(25% - 20px);
}
.adults .child{
    width: calc(33.33% - 20px);
}

/********************************
------------- Footer ------------
*********************************/
footer{
    padding: 40px 0 55px;
    color: var(--color-03);
    background: var(--color-01);
}
footer h3{
    font-size: 20px;
    font-weight: 500;
    color: var(--color-03);
    margin-bottom: 20px;
}
footer p{
    font-size: 14px;
    font-weight: normal;
}
.address{
    width: 670px;
}
.address li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.address li img{
    margin-right: 15px;
}
.address li sup{
    font-size: 8px;
}
.address li a{
    color: var(--color-03);
}
.social-icon{
    width: 150px;
}