*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
:root {
    --color-01: #213C88;
    --color-02: #DA0A34;
    --color-03: #fff;
    --color-04: #575756;
    --color-05: #B0B0B0;
    --color-06: #E6E6E6;
    --bg-01: #F1F1F1;
    --bg-02: #6F6F6E;
    --bg-03: #00A8E6;
    --bg-04: #0080BE;
    --bg-05: #005CA0;
    --bg-06: #EDF7FD;
    --bg-07: #E7E7E6;
}

.mgr-auto{
    margin: auto;
}
.mgr-0{
    margin: 0;
}
.mgr-b-0{
    margin-bottom: 0;
}
.mgr-l-0{
    margin-left: 0;
}
.mgr-r-0{
    margin-right: 0;
}
.mgr-t-0{
    margin-top: 0;
}
.w-1200{
    width: 1200px;
}
.w-100{
    width: 100%;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.list-counter{
    counter-reset: section;
}
.g-2{
    width: calc(33.33% * 2);
}
.img-warp img{
    width: 100%;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-warp{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-nowrap{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-reverse{
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.space-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.space-around{
    -ms-flex-pack: distribute;
    justify-content: space-around
}
.align{
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.align-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.align-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.align-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.icon-arr-w{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon-arrow-white.png) no-repeat center center;
    background-size: contain;
}

.list-disc li{
    position: relative;
    padding-left: 11px;
}
.list-disc li:before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: block;
    background: var(--color-04);
    position: absolute;
    left: 0;
    top: 7px;
}